/* util */
.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* style */
body {
    font-family: 'Gowun Dodum';
    background-color: #eee;
    padding: 50px;
}

#resume {
    margin: 0 auto;
    padding: 50px;

    max-width: 700px;
    border: none;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.05);
}

h1 {
    text-align: center;
    font-size: 32px;
}

h2 {
    margin: 24px 0 16px 0;

    font-size: 20px;
    font-weight: 700;
}

.list-contact {
    position: relative;
    margin-top: 15px;
    overflow: hidden;
}

.list-contact li {
    float: left;

    padding: 0 16px;
    text-align: center;
    line-height: 30px;
    background-color: #90caf9;
    transition: all 0.5s;
}

.list-contact li a {
    display: block;
    /* padding: 0 16px; */
    text-align: center;
    background-color: none;
}

.list-contact li:hover {
    background-color: #5d99c6;
    color: white;
}

section {
    overflow: hidden;
}

section article {
    margin-bottom: 10px;
}

section article:nth-child(1) {
    float: left;
    background-color: yellow;
}
section article:nth-child(2) {
    float: left;
    margin-left: 10px;
    background-color: yellowgreen;
}
